<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
       <%for(let listing of allListings){%>
        <a class="show" href="/listings/<%=listing._id%>"> 
            <div class="card col" >
                <img src="<%= listing.image.url %>" 
                class="card-img-top"
                style="height: 20rem;"
                alt="listing_image" >
                <div class="card-img-overlay"></div>
                <div class="card-body">
                 <b> 
                    <p class="card-text"><%=listing.title%>
                     </b><br>
                
                    &#8377; <%= listing.price.toLocaleString("en-IN")%>

                 </p>
                </div>
              </div></a>
              <%}%>
    </div>
    
    
        <!-- <form method="GET"action="/listings/new">
            <button>Create new Listing</button>
        </form> -->
        
    
</body>

